---
bg: "SingingAtThePiano.jpg"
layout: default
crawlertitle: "The Logrus Songbook"
title: "The Logrus Songbook"
summary: "main page"
---


<!-- create categories array-->
{% assign genre_array = "" | split:" " %}

{% for tune in site.tunes %}
    {% assign tune_genres = tune.genres | split:" " %}
    {% for genre in tune_genres %}
        {% assign genre_array = genre_array | push: genre | uniq %}
    {% endfor %}
{% endfor %}
{% assign genre_array = genre_array | sort %}


{% for each_genre in genre_array %}
	<h4 id="{{each_genre}}">{{each_genre}}</h4>
	{% for tune in site.tunes %}

		{% assign has_genre = False %}
	    {% assign tune_genres = tune.genres | split:" " %}
    	{% for genre in tune_genres %}
	        {% assign has_genre = True %}
	        {% if genre == each_genre %}
		    	<p><a class="listOlinks" href="{{site.url}}{{ site.baseurl }}{{ tune.url }}">{{ tune.title }}</a></p>
	        {% endif %}
	    {% endfor %}
	{% endfor %}
{% endfor %}
